<%- include("header") -%>
<h1>this is about page</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, vero beatae autem at expedita 
    quia harum accusantium unde veniam quo reiciendis. Nemo laboriosam ad magni aliquid deleniti commodi fugiat modi.
</p>
<%- include("footer") -%>